<div class="card__template--full">
    <img src={{flags}} alt={{official}} width='40' haigth='20' />
    <h1 class="card__title">{{name}}</h1>
</div>
<ul class="card-list">
    <li class="card__item">
        <p class="card__paragraph"><span class="card__paragraph-text">Capital:</span> {{capital}}</p>
    </li>
    <li class="card__item">
        <p class="card__paragraph"><span class="card__paragraph-text">Population:</span> {{population}}</p>
    </li>
    <li class="card__item">
        <p class="card__paragraph"><span class="card__paragraph-text">Languages:</span> {{languages}}</p>
    </li>
</ul>